name: Deploy Node App to EKS

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t hello-node:latest -f docker/Dockerfile .

      - name: Tag & Push image
        run: |
          docker tag hello-node:latest 855460856838.dkr.ecr.ap-south-1.amazonaws.com/hello-node:latest
          docker push 855460856838.dkr.ecr.ap-south-1.amazonaws.com/hello-node:latest

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region ap-south-1 --name hello-eks

      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/
